*{
    margin: 0;
    padding: 0;
}

ul, h3, h2,h4, figure, address, p{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 40%;
}

a{
    text-decoration: none;
}

main article > h3{
    color: dimgray;
    text-transform: uppercase;
}

p{
    line-height: 1.5;
    color: gray;
}

main > section:nth-child(odd){
    background-color: ghostwhite;
}

body,
main,
main > section,
footer,
figcaption,
form,
header ul,
header > section,
main > section > article{
    display: flex;
    flex-direction: column;
}

main,
main > section,
main > section > section,
main > section > article{
    align-items: center;
}

header{
    display: flex;
    background-image: url(/img/group.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > section{
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, .5);
}


/* MOBILE VERSION */
@media(min-width:200px){
header{
    display: flex;
    height: 50vh;
}

header > section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header h1{
    font-size: 26px;
    color: whitesmoke;
    font-weight: 400;
}

header h2{
    color: whitesmoke;
    font-weight: 400;
    font-size: 16px;
}

header a{
    background-color: darkorange;
    color: whitesmoke;
    padding: 2%;
    width: 30%;
}

/* NAV */
nav > ul{
    display: none;
}

nav{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 90%;
    position: relative;
}

nav > h2{
    color: dimgray;
    font-size: 34px;
}

summary{
    font-size: 26px;
    color: darkorange;
}

details{
    position: absolute;
    width: 100%;
    text-align: right;
}

details > ul{
    padding-top: 2vh;
    width: 100%;
    position: absolute;
    /* border: 4px solid darkorange; */
    list-style-type: none;
}

details li{
    display: flex;
    background-color: whitesmoke;
}

details a{
    padding: 5%;
    width: 100%;
    color: darkorange;
    font-size: 20px;
    border-bottom: 4px solid darkorange;
}

main > section > section,
main > section > article{
    width:80%;
}

.feature > article,
.about > article,
.portfolio > article,
.faq > article,
.contact > article,
.team > article{
    text-align: center;
}

/* FEATURE */

.feature{
    padding-top: 10vh;
    row-gap: 5vh;
}
.feature aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.feature > section{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.feature aside > p{
    text-align: center;
}

.feature i{
    background-color: darkorange;
    color: white;
    border: 3px solid darkorange;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* ABOUT */
.about{
    row-gap: 3vh;
    width: 90%;
}

.about > article{
    width: 90%;
    row-gap: 3vh;
}

.about > section aside,
.about > section > article{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.about > section{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.about ul{
    width: 100%;
    list-style-type: none;
}

.skills li{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.skills > li aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about h6{
    display: flex;
    height: 5px;
    background-color: gray;
    border-radius: 20px;
    width: 100%;
}

.about span{
    height: 100%;
    width: 100%;
    background-color: darkorange;
    border-radius: 20px;
}

.about li:nth-child(3) span{
    width: 80%;
}

.about li:nth-child(4) span{
    width: 90%;
}

/* PORTFOLIO */
.portfolio{
    row-gap: 10vh;
    align-items: center;
}

.portfolio h3{
    color: dimgray;
    font-size: h3;
    font-weight: 400;
}

.portfolio p{
    color: dimgray;
}

.portfolio figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2vh;
}

.portfolio img{
    width: 95%;
}

/* CONTACT */
.contact{
    background-color: rgb(50, 50, 50);
    padding-top: 10%;
    padding-bottom: 10%;
    row-gap: 10vh;
}

.contact aside{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contact > article{
    row-gap: 2vh;
}

.contact h3{
    font-size: 30px;
    color: whitesmoke;
}

.contact p{
    color: whitesmoke;
}

.contact ul{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contact i{
    color: darkorange;
}

.contact li{
    display: flex;
    column-gap: 3vw;
    align-items: center;
}

address{
    color: whitesmoke;
    font-size: 14px;
}

.contact > section{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

.contact a{
    color: darkorange;
    text-decoration: none;
}

.contact li:first-child a{
    color: whitesmoke;
}

form > section,
form{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

input, textarea{
    background-color: transparent;
    padding: 5%;
    border: 1px solid gray;
}

.contact > section > article{
    width: 100%;
}

[type="submit"]{
    width: 70%;
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
}

::placeholder{
    color: whitesmoke;
}

.contact h4{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

/* FOOTER  */
footer{
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    row-gap: 2vh;
    background-color: black;
    border-top: 1px solid gray;
}

footer ul{
    display: flex;
    list-style-type: none;
    column-gap: 5vw;
}

footer [class*="fa"]{
    width: 5vh;
    height: 5vh;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: whitesmoke;
}
}