*{
    margin: 0;
    padding: 0;
}

ul, h3, h2,h4, figure, address, p{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

img{
    width: 20%;
}

a{
    text-decoration: none;
}

main article > h3{
    color: dimgray;
    text-transform: uppercase;
}

p{
    line-height: 1.5;
    color: gray;
}

main > section:nth-child(odd){
    background-color: ghostwhite;
}

body,
main,
main > section,
footer,
figcaption,
form,
header ul,
header > section,
main > section > article{
    display: flex;
    flex-direction: column;
}

main,
main > section,
main > section > section,
main > section > article{
    align-items: center;
}

header{
    display: flex;
    background-image: url(/img/group.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > section{
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, .5);
}


/* MOBILE VERSION */
@media(min-width:200px){



main > section > section,
main > section > article{
    width:80%;
}

.feature > article,
.about > article,
.portfolio > article,
.faq > article,
.contact > article,
.team > article{
    text-align: center;
}

/* FEATURE */

.feature{
    padding-top: 10vh;
    row-gap: 5vh;
}
.feature aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.feature > section{
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.feature aside > p{
    text-align: center;
}

.feature i{
    background-color: darkorange;
    color: white;
    border: 3px solid darkorange;
    border-radius: 50%;
    width: 15vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

/* CONTACT */
.contact{
    background-color: rgb(50, 50, 50);
    padding-top: 10%;
    padding-bottom: 10%;
    row-gap: 10vh;
}

.contact aside{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contact > article{
    row-gap: 2vh;
}

.contact h3{
    font-size: 30px;
    color: whitesmoke;
}

.contact p{
    color: whitesmoke;
}

.contact ul{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.contact i{
    color: darkorange;
}

.contact li{
    display: flex;
    column-gap: 3vw;
    align-items: center;
}

address{
    color: whitesmoke;
    font-size: 14px;
}

.contact > section{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

.contact a{
    color: darkorange;
    text-decoration: none;
}

.contact li:first-child a{
    color: whitesmoke;
}

form > section,
form{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

input, textarea{
    background-color: transparent;
    padding: 5%;
    border: 1px solid gray;
}

.contact > section > article{
    width: 100%;
}

[type="submit"]{
    width: 70%;
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
}

::placeholder{
    color: whitesmoke;
}

.contact h4{
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

/* FOOTER  */
footer{
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    row-gap: 2vh;
    background-color: black;
    border-top: 1px solid gray;
}

footer ul{
    display: flex;
    list-style-type: none;
    column-gap: 5vw;
}

footer [class*="fa"]{
    width: 5vh;
    height: 5vh;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: whitesmoke;
}
}